body {
    margin: 0;
    padding: 0;
    background-color: black;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 30px;
    flex-direction: column;
}

ul {
    display: flex;
    /* margin-top: 5px; */
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

li {
    padding: 0 10px 0 10px;
    list-style-type: none;
    background-color: aliceblue;
    margin: 0 10px 0 10px;
}

li a {
    text-decoration: none;
    font-family: cursive;
    color: rgb(22, 60, 110);
    font-size: 1.2rem;
}

.box {
    width: 300px;
    height: 200px;
    margin: 5px;
}

img {
    height: 200px;
    width: 300px;
    object-fit: cover;
    object-position: center;
}

.boxes {
    display: flex;
    margin-top: 5px;
    flex-direction: row;
    flex-basis: 1;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: top;
    /* background-color: aqua; */
}

.beauty,
.cloth,
.food,
.shoe,
.place {
    display: none;
}